body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top:50%;
    z-index: 5;
    text-align: center;

}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 28px;
}

.overlay {
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
}

/* navbar */
#navigation {
    background: #0c447b;
    z-index: 100;
    width: 100%;
}

#navigation .navbar-brand  {
    color: #fff;
}

#navigation .navbar-brand:hover{
    color: #a3b5d9;
}

.navbar-nav .nav-item a.nav-link{
    color: #fff;
}
.navbar-nav .nav-item a.nav-link:hover{
    color:#a3b5d9;
}

#navigation .navbar-collapse .nav-item {
    padding:  5px 20px;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}
.fixedNav #navigation {
    position: fixed;
    top: 0;
}


/* icon */
.slides-navigation {
    z-index: 8;
}

.slides-navigation .prev, 
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.next {
    background-image: url(../img/icons/next.png);
    right: 20px;
}
.slides-navigation a.prev {
    background-image: url(../img/icons/prev.png);
    left: 20px;
}

/* about */
.section {
    padding: 120px 0;
}

#about h1 {
    font-size: 35px;
    font-weight: 600;
  }

#about p {
    color:#535c68;
}

hr {
height: 3px;
width: 200px;
background: linear-gradient(to right, white, #527f9e);
margin-bottom: 40px;
margin-top:0;
}
  

#about img {
    width: 350px;
    height:450px
}


/* typewrite */
.typewrite {
    color:	#f9532f;
    text-decoration: none;
}
  
/* skills */
.skillsSection{
    background:	#f2f2f2;
    padding: 60px;
}

.skill {
    text-align: center;
    margin-left: 10px;
    color:#333;
}

.skillsSection p {
    font-size: 12px;
    color:#535c68;
}

/* chart */
.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
    color: #333;
}

.chart .percent {
	color: #333;
    line-height: 152px;
    display: inline-block;
    font-size: 30px;
}

.chart .percent:after {
	content: '%';
}
    
/* services */


/* works */

.filter a {
    color:#535c68;
    border: 1px solid #535c68;
    padding: 10px 20px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;

}

.filter .current {
    background-color: #0c447b;
    border-color: #0c447b;
    color: #fff;
}


/* works items */
.items li img {
    width: 100%;
}

.items li {
    display: inline-block;
    padding:5px;
}

.itemsContainer {
    width: 100%;
    text-align: center;
}

.items li img {
    width: 100%;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color:	#f2f2f2;
}

.items a {
    background-color:#0c447b;;
    position: relative;
    display:inline-block;
    width: 28px;
    height: 28px;
    border-radius: 30%;

     /* move smoothly */
     -webkit-transition: all 0.2s linear, 0.2s;
     -moz-transition: all 0.2s linear, 0.2s;
     -o-transition: all 0.2s linear, 0.2s;
     -ms-transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left:0px;
    top: 0px;
    opacity:0;

    /* move smoothly */
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -250px;
}

.items .hpLink {
    float: right;
    right: -250px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .hpLink {
    right: 0px;
}

/* image zoom smoothly */
.items .item:hover img{
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    

}

.items{
    padding:0;
}


/* blog */
#blog {
    background: #f2f2f2;;
}
#blog h5, p {
    color: #535c68;
}

.btn-outline-blue,
.btn-outline-blue.disabled, .btn-outline-blue:disabled {
    color:#0c447b;
    background-color:#fff;
    border-color:#0c447b;
}

.btn-outline-blue:hover {
    color:#fff;
    background-color: #0c447b;
}

.btn-outline-orange,
.btn-outline-orange.disabled, .btn-outline-orange:disabled{
    color: #f9532f;
    border-color:#f9532f;
    background-color:#fff;
}

.btn-outline-orange:hover{
    color: #fff;
    border-color:#f9532f;
    background-color:#f9532f;;
}

#blog .card-items {
    justify-content: center;
}

#blog .card {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
/* contact */
#contact {
    font-size: 14px;
    margin: 50px 0;
}

#contact ul li {
    list-style:none;
}

.contact-title {
    text-align:left;
}

.contact-contents {
    padding: 30px 0;
}

.text {
    color: 	#a9a6a6;
}

#contact .short_contact img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#contact .short_contact a {
    margin-left: 10px;
    color: #0c447b;
}

#contact .short_contact .blog {
    margin-left: 25px;
}

#contact .short_contact .twitter {
    margin-left: 31px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #a9a6a6;
}

.contact-submit {
    width:200px;
    background-color: #f9532f;
    color: #fff;
    border: 1px solid #f9532f;
    font-size: 16px;
}

.contact-submit:hover{
    background-color:#ee3a6a;
    border-color:#ee3a6a;
}

/* footer */
.footer {
    background:#0b1e4f;
    padding: 30px 5px;
}

.footer p {
    color:#a9a6a6;
}