body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top:50%;
    z-index: 5;
    text-align: center;
    margin-top: 
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 28px;
}

.overlay {
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
}

/* navbar */
#navigation {
    background: #0c447b;
    z-index: 100;
    width: 100%;
}


#navbarNav .nav-item .nav-link {
    color: #fff;
}

#navigation .navbar-brand {
    color: #fff;
}
#navigation a:hover {
    color: #a3b5d9;
}

#navigation .navbar-collapse .nav-item {
    padding:  5px 20px;
}

.navbar-nav li:hover {
    background: #a3b5d9;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position : fixed;
    top:0;
}
/* icon */
.slides-navigation {
    z-index: 8;
}

.slides-navigation .prev, 
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.next {
    background-image: url(../img/icons/next.png);
    right: 20px;
}
.slides-navigation a.prev {
    background-image: url(../img/icons/prev.png);
    left: 20px;
}

/* about */
.section {
    padding: 100px 0;
}

#about h1 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }

hr {
height: 3px;
width: 200px;
background: linear-gradient(to right, white, #527f9e);
margin-bottom: 40px;
margin-top:0;
}
  

#about img {
    width: 350px;
    height:450px
}


/* typewrite */
.typewrite {
    color:	#f9532f;
    text-decoration: none;
}
  
/* skills */
.skillsSection{
    background:#eee;

}

.skill {
    text-align: center;
    margin-left: 10px;
    color:#333;
}

/* chart */
.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
    color: #333;
}

.chart .percent {
	color: #333;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}
    
/* services */

/* footer */
.footer {
    background:#0b1e4f;
    color:#fff;
    padding: 30px 5px;
}